<a href="https://colab.research.google.com/github/gitmattalves/curso_DSA/blob/main/Exerc%C3%ADcios_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXERCÍCIOS 1- CAP 02 - DSA

In [ ]:

# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

lista1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(lista1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

lista_objetos = ['Uva', 'Maçã', 'Pera', 'Banana', 'Morango']
print(lista_objetos)

['Uva', 'Maçã', 'Pera', 'Banana', 'Morango']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira stringn

nome = 'Mateus'
sobrenome = 'Santos'

nome_completo = nome + " " + sobrenome
print(nome_completo)

Mateus Santos

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla1 = (1, 2, 2, 3, 4, 4, 4, 5 )
tupla1.count(4)

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

dic_vazio = {}
print (dic_vazio)

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dic_acoes = {'WEGE3': '35',
             'PETR4': '30',
             'VALE3': '70'}
print(dic_acoes)

{'WEGE3': '35', 'PETR4': '30', 'VALE3': '70'}

In [ ]:
type(dic_acoes)

dict

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

dic_acoes['MGLU']= '10'
print(dic_acoes )

{'WEGE3': '35', 'PETR4': '30', 'VALE3': '70', 'MGLU': '10'}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dic_frutas = {'Maçã': 5,
        'Uva': 3,
        'Banana':[5,3]}

print(dic_frutas)

{'Maçã': 5, 'Uva': 3, 'Banana': [5, 3]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

lista2 = ['Laranja', (2,4), {'WEGE3':30, 'PETR4': 25}, 9.2]

print(lista2)

['Laranja', (2, 4), {'WEGE3': 30, 'PETR4': 25}, 9.2]

In [ ]:
type(lista2)

list

In [ ]:
lista2[2]

{'PETR4': 25, 'WEGE3': 30}

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

frase[0:18]

'Cientista de Dados'